/* Second section */

/* Grid container */

.moreInfo {
  background-color: #fcfcfc;
  padding: 5rem 3rem;
  display: grid;
  gap: 4rem;
}

.titleItem h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: var(--font-principal);
  font-weight: 700;
  font-size: 4rem;
  color: var(--green-700);
  line-height: normal;
}

/* Grid rows and columns */

.titleItem {
  grid-column: 1 / span 3;
  grid-row: 1;
  width: 100%;
}

.firstStep {
  grid-column: 1;
  grid-row: 2;
}

.secondStep {
  grid-column: 2;
  grid-row: 2;
}

.thirdStep {
  grid-column: 3;
  grid-row: 2;
}

.firstImg {
  grid-column: 1;
  grid-row: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.secondImg {
  grid-column: 2;
  grid-row: 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.thirdImg {
  grid-column: 3;
  grid-row: 3;
  object-fit: cover;
  width: 100%;
}

/* Styling */

.titleItem,
.titleItem > p {
  text-align: center;
  color: var(--green-200);
}

.wateringIcon,
.sunlightIcon,
.nutrientsIcon {
  display: inline;
}

.firstStep h3,
.secondStep h3,
.thirdStep h3 {
  margin-top: 1em;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-secondary);
}

.firstStep,
.secondStep,
.thirdStep {
  text-align: center;
}

.firstStep p,
.secondStep p,
.thirdStep p {
  color: var(--green-300);
  margin: 1em;
}

.websiteInfo p {
  margin: 1rem 0 2rem 0;
  color: var(--green-300);
  text-align: justify;
}

.seeMoreButton {
  background-color: var(--green-700);
  border-color: var(--green-700);
  border-width: 0.05em;
  border-style: solid;
  color: #fcfcfc;
  padding: 1rem 3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.buttonText {
  position: relative;
  transition: 0.5s;
}

.seeMoreButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  transform: translate(-110%, 0) skew(0deg);
  transition: 0.7s;
}

.seeMoreButton:hover::before {
  transform: translate(0%, 0) skew(0deg);
}

.seeMoreButton:hover {
  color: var(--green-700);
}

@media only screen and (max-width: 768px) {
  .firstImg,
  .secondImg {
    width: 100%;
    height: 50%;
  }
  .moreInfo {
    padding: 1rem;
    gap: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .moreInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }
  .websiteInfo {
    display: flex;
    flex-direction: column;
  }
}
