@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

.main {
    width: 100vw;
}

.Container {
    position: relative;
    width: 100vw;
    height: 25rem;
    padding: 8rem 0 0 6rem;
    background-color: #F0F1EE;    
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.titles {
    font-family: EB Garamond;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.17rem;
}

.hairline {
    width: 45vw;
    color: #000000;
    border-top: 2px solid #000000;  
}

.aboutText {
    font-family: Raleway;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    padding-top: 2rem;
    width: 45vw;
}

.Plant {
    max-width: 45%;
    height: auto;
    bottom: 0;
    right: 0;
    transform: translate(10%, -30%);
}

.DevelopersBody {
    width: 100vw;
    height: auto;
    padding: 1rem 6rem;
}

.Body {
    margin-top: 4rem;
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 4rem;
    margin-bottom: 6rem;
    margin-left: -3%;
}
 

.Developers {
    position: relative;
    margin: 0 auto;
    width: 22rem;
    height: 30rem;    

    background-color: #F0F1EE;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0F1EE;    
    border-radius: 20px;    
}

.blockGreen {
    position: absolute;
    top: 0;
    left: 0;
    transform: -50%, -50%;   
    width: 100%;
    height: 35%;
    background-color: #8A9B6E;    
    border-radius: 20px 20px 0 0;
}

.Photo {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.rest {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #F0F1EE;  

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.firstblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 3.5rem;    
}

.name {
    font-family: EB Garamond;
    font-size: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #354733;
       
}

.description {
    font-family: Raleway;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #808276;
    text-align: center;
    margin-top: 1rem;

}

.Logos {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
    
.Logo{
    margin-right: 0.5rem;   
    margin-left: 0.5rem;  
    width: 2.5rem;
    height: 2.5rem;    
}
