@import '../../global.css';

.divCarousel {
    background-color: var(--green-100);
    background-color: #F0F1EE;
    padding: 2rem;
}

.sectionTitle {
    color: var(--green-700);
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-principal);
    font-weight: 700;
    margin: 4rem 0;
}

.titleStrong {
    color: var(--green-400);
}

.sectionCarousel {
    margin-bottom: 8rem;
}


@media only screen and (max-width: 768px) {
    .sectionTitle {
        font-size: 3rem;
        margin: 2.5rem 0;
    }

    .divCarousel {
        padding: 1rem;
    }

    .sectionCarousel {
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 425px) {
    .divCarousel {
        padding: 1rem .5rem;
    }
    
    .sectionTitle {
        font-size: 2.5rem;
        margin: 2.5rem 0;
    }
}