@import '../../global.css';

.divCarousel {
    background-color: var(--green-100);
    padding: 2rem;
}

.sectionTitle {
    color: var(--green-700);
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-principal);
    margin-bottom: 5rem;
}

.titleStrong {
    color: var(--green-400);
}