@import "../../global.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.regContainer {
  display: flex;
  background: #f0f1ee;
  width: 100%;
  justify-content: space-between;
}

.formTitle {
  color: #354733;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  width: 100%;
}

.formTitle hr {
  margin-top: 0.5rem;
  width: 100%;
  height: 0.01rem;
  border: none;
  background-color: var(--green-200);
}

.formContainer {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  padding: 5rem;
  gap: 0.5rem;
}

.formContainer input {
  border-color: var(--green-200);
  border-width: 0.1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.formTextInput textarea {
  border-color: var(--green-200);
  border-width: 0.1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.formPrice {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  gap: 1rem;
}

.formPriceInput {
  grid-column: 1;
  grid-row: 1;
}

.formDiscountInput {
  grid-column: 2;
  grid-row: 1;
}

.formLabelRadio {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formTextInput {
  display: flex;
  flex-direction: column;
}

.formImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.formImage img:hover {
  filter: none;
  transition: 0.7s ease-in-out;
}

.registerButton {
  margin-top: 3rem;
  background-color: var(--green-700) !important;
  color: #fcfcfc;
  padding: 0.5rem 3rem;
  width: 100%;
  border-radius: 0.3rem;
}

.registerButton:hover {
  background-color: #2fbd6a !important;
  transition: 0.7s;
}

@media only screen and (max-width: 768px) {
  .formImage {
    display: none;
  }
  .formPrice {
    display: flex;
  }
}

.formFeaturesInput {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.formDescriptionInput {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 425px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #f0f1ee;
    height: 100%;
  }
  .regContainer > body {
    display: flex;
    width: 100%;
    height: 100%;
  }
}
